%li
  - if user.admin?
    %span.hint--right(data-hint="This is an administrative account")
      %i.fa.fa-fw.fa-heart-o.text-info
  - if user.locked_at?
    %span.hint--right(data-hint="This user is locked out from the system")
      %i.fa.fa-fw.fa-lock.text-info
  - if user.expired?
    %span.hint--right(data-hint="This account is expired")
      %i.fa.fa-fw.fa-user-times.text-info
  %span.text
    = link_to edit_user_path(user), remote: true do
      %span.hint--right(data-hint="Let me change this users's settings")
        = user.email
  .tools
    = link_to edit_user_path(user), remote: true do
      %span.hint--left(data-hint="Let me change this users's settings")
        %i.fa.fa-edit
    - unless user == current_user
      = link_to user, :method => :delete, :data => { :confirm => 'Are you sure?' }, remote: true do
        %span.hint--left(data-hint="Remove this user from the system")
          %i.fa.fa-trash
