$('#edit-board-form').html('#{ j render 'options_form' }');
$('#edit-board-form .selectize').selectize({create: true});
$('#edit-board-dialog').modal('show');
$("#edit-board-form .colorpicker").colorpicker();
