:plain
  $('#tags').html('#{ j render 'board_tagcloud' }');
  $('#tags').awesomeCloud({color: {background: "white"}, options: {color: "random-dark"}, font: "'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif", shape: "circle"});
