- unless @campaign.persisted?
  $('#new-campaign-form').html('#{j render 'form' }');
  $('#new-campaign-form .selectize').selectize();
- else
  $('#campaigns').html('#{j render 'campaigns_listing' }');
  $('#new-campaign-dialog').modal('hide');
