/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require boards
 *= require categories
 *= require feeds
 *= require pages
 *= require slideshows
 *= require teams
 *= require users
 *= require_self
 */

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

@import 'bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'jasny-bootstrap/dist/css/jasny-bootstrap';
@import 'admin-lte/dist/css/AdminLTE';
@import 'admin-lte/dist/css/skins/_all-skins';
@import 'hint';
@import 'font-awesome/css/font-awesome';
@import 'selectize/dist/css/selectize';
@import 'selectize/dist/css/selectize.bootstrap3';
@import 'ionicons/css/ionicons';
@import 'bootstrap-colorpicker/css/colorpicker';
@import 'outdated-browser/outdatedbrowser/outdatedbrowser';
@import 'dropzone/dist/dropzone';
@import 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker';
@import 'bootstrap-tour/build/css/bootstrap-tour';
@import "bootsy";

html, body {
  height: 100%;
}

.fa-hover a:hover .fa {
  font-size: 20px;
  vertical-align: -4px;
}

.help-block {
  font-size: x-small;
}

.colorpicker.dropdown-menu {
  z-index: 1099 !important;
}

.word-wrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.btn-rss {
  @include button-variant(#FFFFFF,#FFAD5B, #FF6B17);
}

ul.social-connections {
  @media (min-width: 768px) {
    display: flex;
  }
  li {
    width: 100%;
  }
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-right {
  text-align: right;
}

input.fa-check-rnd, input.fa-check-sqr {
  visibility: hidden;
}

input.fa-check-rnd:checked:after, input.fa-check-rnd:after,
input.fa-check-sqr:checked:after, input.fa-check-sqr:after {
  visibility: visible;
  font-family: FontAwesome;
  position: relative;
  display: inline-block;
  top: -2px;
  left: 0px;
}

input.fa-check-rnd:checked:after {
  content: '\f058';
}

input.fa-check-rnd:after {
  content: '\f10c';
}

input.fa-check-sqr:checked:after {
  content: '\f14a';
}

input.fa-check-sqr:after {
  content: '\f096';
}
